<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <h1 id="title" class="title">AlphaCross</h1>
    <p id="intro" class="intro">Have fun against our AI !</p>
    <div class="reset" id="reset">
        <button type="button" class="reset_button" id="reset_button">RESET</button>
        <button type="button" class="activate_ai" id="activate_ai">AI INACTIVE</button>
    </div>
    <table id="board" class="board">
      <tbody>
         {% for i in range(n_rows) %}
           <tr>
           {% for j in range(n_columns) %}
               <td><button type="button"></button></td>
           {% endfor %}
           </tr>
         {% endfor %}
      </tbody>
    </table>
    <p id="msg" class="msg"></p>
</body>
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>