.board button {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  margin: 1px;
  background: #bbb;
}
.board button:hover {
  filter: brightness(75%);
}

.board button:focus {
  outline: 0;
}
.board button::-moz-focus-inner {
  border: 0;
}

.board button.red {
  background: #ad0505;
  background: linear-gradient(to bottom, #ff1616 0%,#ad0505 100%);
}
.board button.yellow {
  background: #FFFF00;
  background: linear-gradient(to bottom, #ffff00 0%,#cccc00 100%);
}

.board {
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

.intro {
  text-align: center;
}

.msg {
  text-align: center;
}

.reset {
    margin: 0 auto;
    width: 500px;
    height: 100px;
    text-align: center;
}

.reset_button {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 0;
    background: #ff0000;
    color: white;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    vertical-align: middle;
}

.reset_button:hover {
    background: #f11712;
    border: 5;
}

.activate_ai {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 0;
    background: #a0a0a0;
    color: white;
    font-size: 16px;
    font-family: Arial;
    vertical-align: middle;
    text-align: center;
}

.activate_ai.active {
    background: #008000;
}